
* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/gaming-pattern.png);
}

section {
    position: relative;
    left: 35%;
    top :0;
}
#id1 span {
     
     width: 50%;
     margin: 10px;
    
}
.card {
    width: 18rem;
    position: relative;
    left:40%;
    border: none;
       
}
.card-body{
    margin: auto;
}
#rstBtn {
  display: none;
  position: relative;
  left: 60px;
}
#cardImg {
    display: none;
}
